@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to Agri-Energy Connect!</h1>
    <p class="lead">A platform to connect sustainable agriculture with green energy solutions.</p>
    <hr class="my-4">
    <p>Please log in to access your dashboard and features.</p>
</div>