@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron text-center">
    <h1 class="display-4" style="color: darkgreen;">Welcome to Agri-Energy Connect</h1>
    <p class="lead">A platform to connect sustainable agriculture with green energy solutions.</p>
    <hr class="my-4">
    <p>Please <a href="/Account/Login">log in</a> to access your dashboard and features.</p>
</div>